.showComment {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  width: 70%;
  padding: 10px;
  max-width: 1200px;
  background-color: rgb(241, 241, 241);
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.postPic {
  flex: 1;
  background-color: rgb(241, 241, 241);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.postPic img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.details {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.card-header {
  display: flex;
  align-items: center;
}

.card-pic {
  margin-right: 10px;
}

.card-pic img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.card-header h5 {
  margin: 0;
}

.comment-section {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #d4d4d4b6;
  margin: 10px;
  border-radius: 14px;
}

.comment-section .comm {
  margin: 10px;
}

.commenter {
  font-weight: bolder;
}

.card-content {
  padding: 10px;
}

.add-comment {
  display: flex;
  align-items: center;
  padding: 10px;
}

.add-comment .material-symbols-outlined {
  font-size: 24px;
  margin-right: 10px;
}

.add-comment input {
  flex: 1;
  padding: 10px 20px;
  border-radius: 24px;
  margin-right: 10px;
  background-color: #d4d4d4b6;
}

.add-comment button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 24px;
  cursor: pointer;
}

.add-comment button:hover {
  background-color: #0056b3;
}

.close-comment {
  position: fixed;
  top: 12%;
  right: 19%;
  z-index: 10;
  color: rgb(255, 0, 0);
  font-size: 24px;
  cursor: pointer;
  transition-duration: 500ms;
}

.close-comment > *:hover {
  translate: 0 -3px;
  transition-duration: 500ms;
  font-weight: 500;
}
