.Profile {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-self: center;
}
.profile-frame {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
}

.profile-pic {
  height: fit-content;
}
.profile-pic > img {
  width: 160px;
  height: 160px;
  object-fit: contain;
  border-radius: 100px;
  padding: 1px;
  box-shadow: 0 0 10px 1px rgb(222, 222, 222);
}

.profile-data {
  text-align: left;
}
.profile-info p {
  padding: 0px 20px;
  font-size: 18px;
}
.bold{
  font-weight: 500;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding: 20px;
}

.gallery img {
  width: 30%;
  margin: 10px;
  box-shadow: 0 0 10px 1px rgb(197, 197, 197);
  border-radius: 5px;
}
.FollowBtn {
  cursor: pointer;
  font-weight: bolder;
  font-size: 0.8rem;
  padding: 13px 25px;
  color: white;
  background: #22db18;
  border-radius: 40px;
  border: none;
  margin-left: 30px;
  transition: all 0.1s ease;
}
.FollowBtn:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px -10px rgba(10, 31, 0, 0.6);
  background-color: #07c320;
}
.UnfollowBtn {
  cursor: pointer;
  font-weight: bolder;
  font-size: 0.8rem;
  padding: 13px 25px;
  color: white;
  background: #db1818;
  border-radius: 40px;
  border: none;
  margin-left: 30px;
  transition: all 0.1s ease;
}
.UnfollowBtn:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px -10px rgba(10, 31, 0, 0.6);
  background-color: #dc0000;
}
.changePic {
  background: rgb(255, 255, 255);
  border-radius: 50px;
}
.changePic div {
  padding: 20px 100px;
}

.upload-btn {
  cursor: pointer;
  background: none;
  border: none;
  font-weight: bolder;
  font-size: 16px;
}
